//
$background_color: white;
$button_color: #1000ff;
//nav
$fontsize-title: 40px;
$fontsize-link: 16px;
$color-link: white;


//Section1
$background-button: linear-gradient(to left, #6156f9 112%, #1a129f 50%);
$fontsize_button_section1: 14px;
$size_title: 50px; //section2
$size_little_title: 74px;
$size-text-content: 16px;
$color_content: #7a839e; //section2_p

//Section2 
$size_titre_1: 20px;
$color_titre_1:  #7e76f9;
$color_titre_2: #42495b;

